

body {
  font-family: Arial, Helvetica, sans-serif;
  
}

.dropdown:hover>.dropdown-menu {
  display: block;
 
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
    
}

.nav-link {
  color: #8a1253;
  
}

.nav-link:hover {
  color: #007cb9;
}

.nav-lnk {
  color: #007cb9;
  text-decoration: none;
  
}
